
name: Deps builder

# Controls when the workflow will run
on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Download models
        run: |
          wget -P stemroller/anyos-extra-files/Models https://dl.fbaipublicfiles.com/demucs/mdx_final/83fc094f-4a16d450.th
          wget -P stemroller/anyos-extra-files/Models https://dl.fbaipublicfiles.com/demucs/mdx_final/7fd6ef75-a905dd85.th
          wget -P stemroller/anyos-extra-files/Models https://dl.fbaipublicfiles.com/demucs/mdx_final/14fc6a69-a89dd0ee.th
          wget -P stemroller/anyos-extra-files/Models https://dl.fbaipublicfiles.com/demucs/mdx_final/464b36d7-e5a9386e.th
          wget -P stemroller/anyos-extra-files/Models  https://raw.githubusercontent.com/facebookresearch/demucs/main/demucs/remote/mdx_extra_q.yaml

      - name: Download static ffmpegs
        run: |
          wget -O ffmpeg-win.zip https://www.gyan.dev/ffmpeg/builds/ffmpeg-release-essentials.zip
          wget -O ffmpeg-mac.zip https://evermeet.cx/ffmpeg/ffmpeg-107674-gf0abd07996.zip
          
      - name: Download demucs-freezecx
        run: |
          wget -O demucs-win.zip https://github.com/stemrollerapp/demucs-cxfreeze/releases/download/1.0.0/demucs-cxfreeze-1.0.0-win.zip
          wget -O demucs-mac.zip https://github.com/stemrollerapp/demucs-cxfreeze/releases/download/1.0.0/demucs-cxfreeze-1.0.0-mac.zip
          
        
        
        
